fastapi
uvicorn
langchain==0.3.27
langchain-community==0.3.31
dashscope==1.23.9
langgraph==0.6.11
# langchain-wenxin
langchain-deepseek
langchain-ollama
langchain-openai
chromadb
llama-index-core==0.14.4
llama-index-embeddings-openai
llama-index-embeddings-huggingface
llama-index-embeddings-ollama
#
python-dotenv
pydantic
pydantic-settings
#
numpy
requests
tiktoken
# python-multipart  # 用于FastAPI文件上传支持
httpx             # 用于异步HTTP请求
jieba